@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Ysabeau:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FOOTER */
footer{
    font-family: Ysabeau;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 50px -10px black;
    border-top: 7px solid #2756bd;
    background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='200' preserveAspectRatio='none' viewBox='0 0 3000 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1113%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c49 C 66.8%2c51.4 200.4%2c70.4 334%2c61 C 467.6%2c51.6 534.4%2c0.8 668%2c2 C 801.6%2c3.2 868.4%2c58 1002%2c67 C 1135.6%2c76 1202.4%2c46.6 1336%2c47 C 1469.6%2c47.4 1536.4%2c76 1670%2c69 C 1803.6%2c62 1870.4%2c11.8 2004%2c12 C 2137.6%2c12.2 2204.4%2c64.2 2338%2c70 C 2471.6%2c75.8 2539.6%2c39.2 2672%2c41 C 2804.4%2c42.8 2934.4%2c71.4 3000%2c79L3000 200L0 200z' fill='rgba(24%2c 74%2c 126%2c 0.3)'%3e%3c/path%3e%3cpath d='M 0%2c183 C 60%2c175.2 180%2c145.4 300%2c144 C 420%2c142.6 480%2c179.6 600%2c176 C 720%2c172.4 780%2c129.4 900%2c126 C 1020%2c122.6 1080%2c157.8 1200%2c159 C 1320%2c160.2 1380%2c126 1500%2c132 C 1620%2c138 1680%2c189.4 1800%2c189 C 1920%2c188.6 1980%2c130.8 2100%2c130 C 2220%2c129.2 2280%2c184 2400%2c185 C 2520%2c186 2580%2c140 2700%2c135 C 2820%2c130 2940%2c155 3000%2c160L3000 200L0 200z' fill='rgba(34%2c 100%2c 171%2c 0.3)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1113'%3e%3crect width='3000' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position:bottom;
    background-size:100%;
    background-repeat: no-repeat;
}

footer h3{
    margin: 20px;
    color: black;
}