@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Ysabeau:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    font-family: Ysabeau;
    background-color: white;
    width: 100%;
    border-bottom: 7px solid #2756bd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='200' preserveAspectRatio='none' viewBox='0 0 3000 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1116%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c27 C 200%2c33.6 600%2c62.8 1000%2c60 C 1400%2c57.2 1600%2c16.8 2000%2c13 C 2400%2c9.2 2800%2c35.4 3000%2c41L3000 200L0 200z' fill='rgba(43%2c 57%2c 150%2c 0.2)'%3e%3c/path%3e%3cpath d='M 0%2c87 C 66.8%2c94 200.4%2c123.8 334%2c122 C 467.6%2c120.2 534.4%2c76.8 668%2c78 C 801.6%2c79.2 868.4%2c124.4 1002%2c128 C 1135.6%2c131.6 1202.4%2c100.4 1336%2c96 C 1469.6%2c91.6 1536.4%2c111.6 1670%2c106 C 1803.6%2c100.4 1870.4%2c66.2 2004%2c68 C 2137.6%2c69.8 2204.4%2c110 2338%2c115 C 2471.6%2c120 2539.6%2c92.2 2672%2c93 C 2804.4%2c93.8 2934.4%2c113.8 3000%2c119L3000 200L0 200z' fill='rgba(24%2c 74%2c 126%2c 0.3)'%3e%3c/path%3e%3cpath d='M 0%2c141 C 60%2c146.6 180%2c169 300%2c169 C 420%2c169 480%2c136.6 600%2c141 C 720%2c145.4 780%2c192.2 900%2c191 C 1020%2c189.8 1080%2c138 1200%2c135 C 1320%2c132 1380%2c176.4 1500%2c176 C 1620%2c175.6 1680%2c130 1800%2c133 C 1920%2c136 1980%2c188.6 2100%2c191 C 2220%2c193.4 2280%2c146.8 2400%2c145 C 2520%2c143.2 2580%2c183 2700%2c182 C 2820%2c181 2940%2c148.4 3000%2c140L3000 200L0 200z' fill='rgba(34%2c 100%2c 171%2c 0.3)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1116'%3e%3crect width='3000' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
}

header>h1{
    color: black;
    margin: 30px;
}

header>nav{
    margin: 30px;
}

header>nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 20px;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #2756bd;
    padding: 10px 10px;
    display: block;
    font-weight: bold;
}

header nav ul ul a{
    background-color: #2756bd;
    color: white;
}

header nav li{
    border-collapse: collapse;
}

header nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 0;
}

header nav ul li{
    width: 170px;
    text-align: center;
}

header nav ul li{
    position: relative;
}

header nav ul ul{
    position: absolute;
}

header nav ul ul ul{
    top: 0;
    left: 170px;
}

header nav ul ul{
    display: none;
}

header nav ul li:hover>ul{
    display: flex;
}

header nav ul li:hover>a{
    background-color: #002983;
    color: #ffffff;
    font-size: 1.3em;
}

header nav ul ul li:hover>a{
    background-color: #002983;
    color: #ffffff;
    font-size: 1.3em;
}